@import 'tailwindcss';

@theme {
  --color-dx0-orange: #f47522;
}

@layer base {
  html,
  body,
  #root {
    @apply bg-black;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
  background: #262626;
  border-radius: 4px;
  border: 1px solid #404040;
}

::-webkit-scrollbar-thumb:hover {
  background: #f47522;
  border-color: #f47522;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #262626 #0a0a0a;
}

